<h1>BlogPosts#index</h1>
<p>Find me in app/views/blog_posts/index.html.erb</p>

<% @blog_posts.each do |blog_post| %>
  <h2><%= link_to blog_post.title, blog_post %></h2>
  <%= link_to blog_post.title, blog_post %>
  <p><%= blog_post.body %></p>
<% end %>
